{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="descriprtion" content="">
    <meta name="author" content="">
    <link refl="icon" href="../../../../favicon.ico">

	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
		.container {
		    padding-top: 30px;
		}
		h3{
		    margin-bottom: 15px;
			text-align: center;
		}
		button{
            margin-bottom: 20px;
		}
    </style>

  </head>

  <body>
     <section>
		<div class="container">
		    <h3><strong>Sign Up</strong></h3>
		    <form method="POST" action="{% url 'signup' %}">
				{% csrf_token %}
				{{ form | crispy }}
				<p>I have an account <a href="{% url 'login' %}">Sign In</a></p>
		     	<button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
		    </form>
		</div>
     </section>
  </body>

</html>

