{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}New Note{% endblock %}
{% block semi_title %}Add Note{% endblock %}

{% block nav0 %}
    <li class="nav-item active">  
	    <a class="nav-link" href="{% url 'notes' %}">My Notes</a>                      
    </li>
{% endblock %}

{% block nav1 %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'create' %}">New Note</a>
    </li>
{% endblock %}

{% block profile %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
 <div class="container">
		 <form method="POST" style="margin-bottom: 10px" action="{% url 'update' id %}">
				{% csrf_token %}
				{{ form | crispy }}

		<button type="submit" class="btn btn-success btn-lg btn-block">Update note</button>
	</form>
    <a href="{% url 'notes' %}"><button type="submit" class="btn btn-primary btn-lg btn-block">Descard changes</button></a>
    <h1></h1>
    <a href="{% url 'delete' id %}"><button type="submit" class="btn btn-danger btn-lg btn-block">Delete note</button></a>
  </div>
{% endblock %}

